<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675431275361-1psvo69b89uomo07dlu4a3gdi0phrnmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675431275361-1psvo69b89uomo07dlu4a3gdi0phrnmm</string>
	<key>API_KEY</key>
	<string>AIzaSyCMOB7l_GPJDzFqDQl3hLzO8vwA4Ow3Ato</string>
	<key>GCM_SENDER_ID</key>
	<string>675431275361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nowcast.devapp</string>
	<key>PROJECT_ID</key>
	<string>nowcast-b7e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>nowcast-b7e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675431275361:ios:ea62d55fbc16e869524320</string>
</dict>
</plist>